<!DOCTYPE html>
<html>
  <head>
    <title>KitUiFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Poppins:wght@200;300;500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!--icons-->
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
